<div class="jumbotron text-center">
  <h1>Vape Central Warehouse</h1>
  <p class="lead">Welcome to Vape Central Warehouse</p>
  <div>
    <a class="btn btn-primary" [routerLink]="['/register']">Register new account</a> <a class="btn btn-default"
                                                                            [routerLink]="['/login']">Login</a>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <h3>Browse our juices</h3>
    <p>We have a vast selection of Juices for all your vape needs</p>
  </div>

  <div class="col-md-6">
    <h3>Glass</h3>
    <p>We have a vast selection of glass and glass accessories for all your leafy needs</p>
  </div>
</div>
